@model IEnumerable<BoardGamesMVC.Models.Partida>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuantidadeJogadores)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DuracaoPartidaEmMinutos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoBoardGame)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeJogadores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracaoPartidaEmMinutos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfoBoardGame.IdBoardGame)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPartida">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPartida">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPartida">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
