@model BoardGamesMVC.Models.BoardGame

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BoardGame</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="IdBoardGame" />
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fabricante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeMinimaJogadores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeMinimaJogadores)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeMaximaJogadores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeMaximaJogadores)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DuracaoMediaPartidaEmMinutos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuracaoMediaPartidaEmMinutos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InfoJogador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InfoJogador.IdJogador)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
